# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Intellij Idea workspace files
.idea/
*.iml

# VSCode workspace files
*.code-workspace

# generated proto files
*.pb.go

# golang vendor directory
vendor/
_vendor*

# temporary file generated during build
build/

# data directory
data/

# .netrc file containing github access token
.netrc
main
certs/

.DS_Store

# binary
zerogate

*.sqlite
*.db

.env